## Actividades o Programas para Prevenir la Violencia V2
Pregunta 3.2 del cuestionario principal de la ENSU: 3.2a ¿Conoce o ha escuchado si el gobierno de (CIUDAD) ha implementado actividades o programas para prevenir la violencia y/o la delincuencia, tales como, policía de barrio, eventos deportivos, culturales, sociales, jornadas de reforestación, entre otros?

### Inicio

In [1]:
import pandas as pd

#### Importar Bases

**Percepción de Inseguridad en la lugares varios** <br>
Fuente: *Encuesta Nacional de Seguridad Pública Urbana 2023 (I Trimestre).* Datos abiertos/2023/Encuesta Nacional de Seguridad Pública Urbana. Trimestre I<br>
Cuestionario principal de la encuesta sección I, II, III, IV (conjunto_de_datos_CB_ENSU_03_2023.csv) <br>
Pregunta *3.2a ¿Conoce o ha escuchado si el gobierno de (CIUDAD) ha implementado actividades o programas para prevenir la violencia y/o la delincuencia, tales como, policía de barrio, eventos deportivos, culturales, sociales, jornadas de reforestación, entre otros?*<br>
https://www.inegi.org.mx/programas/ensu/#Datos_abiertos

In [2]:
# Importar base de Cuestionario principal de la encuesta sección I, II, III, IV
ensu = pd.read_csv('conjunto_de_datos_CB_ENSU_03_2023.csv')
ensu.replace('\r','',inplace=True)
ensu['ID_PER NOM_ENT NOM_MUN NOM_CD TIPO_CUEST DOMINIO REG_CD BP1_8_2'.split()] = ensu['ID_PER NOM_ENT NOM_MUN NOM_CD TIPO_CUEST DOMINIO REG_CD BP1_8_2'.split()].apply(lambda x:x.str.replace('\r',''), axis=1)

#Convertir identificadores de Entidad y Municipio en Texto
ensu['CVE_ENT'] = ensu['CVE_ENT'].astype('str').apply(lambda x:x.zfill(2))
ensu['CVE_MUN'] = ensu['CVE_MUN'].astype('str').apply(lambda x:x.zfill(3))
ensu['ENT_MUN'] = ensu['CVE_ENT'] + ensu['CVE_MUN']
ensu.head()

,ID_VIV,ID_PER,UPM,VIV_SEL,R_SEL,CVE_ENT,NOM_ENT,CVE_MUN,NOM_MUN,LOC,...,BP4_1_2,BP4_1_3,FAC_VIV,FAC_SEL,DOMINIO,EST,UPM_DIS,EST_DIS,REG_CD,ENT_MUN
0,100071.006,0100071.006.01,100071,5,1,01,AGUASCALIENTES,001,AGUASCALIENTES,1,...,5,5,958,1916,U,2,1,142,,01001
1,100071.026,0100071.026.01,100071,1,1,01,AGUASCALIENTES,001,AGUASCALIENTES,1,...,6,5,958,958,U,2,1,142,,01001
2,100071.033,0100071.033.03,100071,2,3,01,AGUASCALIENTES,001,AGUASCALIENTES,1,...,0,0,958,1916,U,2,1,142,,01001
3,100071.115,0100071.115.01,100071,3,1,01,AGUASCALIENTES,001,AGUASCALIENTES,1,...,8,8,958,1916,U,2,1,142,,01001
4,100075.028,0100075.028.02,100075,4,2,01,AGUASCALIENTES,001,AGUASCALIENTES,1,...,7,7,1058,3175,U,3,2,143,,01001

### Filtrar Datos de Interés de ENSU
Diccionario de datos (Metadatos): <br>
https://www.inegi.org.mx/rnm/index.php/catalog/859/data-dictionary/F5?file_name=ENSU_CB_0323 <br>

Primero se tienen que filtrar a los que sí identifican a la Policía Estatal <br>
* BP3_2A	Conocimiento de que el gobierno ha implementado actividades o programas para prevenir la violencia y/o la delincuencia

In [7]:
#Filtrar columnas de interés de ENSU
ci = 'CD NOM_CD NOM_ENT BP3_2A FAC_SEL'.split()
ensuci = ensu[ci]

ensuci['NOM_CD'] = ensuci['NOM_CD'].apply(lambda x:x.title())

#Abreviaturas de Entidades Federativas
ef_abr = {'AGUASCALIENTES':'AGS', 'BAJA CALIFORNIA':'BC', 'BAJA CALIFORNIA SUR':'BCS',
       'CAMPECHE':'CAMP', 'COAHUILA DE ZARAGOZA':'COAH', 'COLIMA':'COL', 'CHIAPAS':'CHIS',
       'CHIHUAHUA':'CHIH', 'CIUDAD DE MEXICO':'CDMX', 'DURANGO':'DGO', 'GUANAJUATO':'GTO',
       'GUERRERO':'GRO', 'HIDALGO':'HGO', 'JALISCO':'JAL', 'MEXICO':'MEX', 'MICHOACAN DE OCAMPO':'MICH',
       'MORELOS':'MOR', 'NAYARIT':'NAY', 'NUEVO LEON':'NL', 'OAXACA':'OAX', 'PUEBLA':'PUE',
       'QUERETARO':'QRO', 'QUINTANA ROO':'QROO', 'SAN LUIS POTOSI':'SLP', 'SINALOA':'SIN',
       'SONORA':'SON', 'TABASCO':'TAB', 'TAMAULIPAS':'TAMPS', 'TLAXCALA':'TLAX',
       'VERACRUZ DE IGNACIO DE LA LLAVE':'VER', 'YUCATAN':'YUC', 'ZACATECAS':'ZAC'}
for ef, abr in ef_abr.items():
    ensuci['NOM_ENT'] = ensuci['NOM_ENT'].replace(ef, abr)

ensuci.loc[ensuci['NOM_CD']=='La Laguna','NOM_ENT'] = 'COAH-DGO'
ensuci.loc[ensuci['NOM_CD']=='Tampico','NOM_ENT'] = 'TAMPS-VER'

ensuci.head()

C:\Users\Arturo\AppData\Local\Temp\ipykernel_19600\3784782970.py:5: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  ensuci['NOM_CD'] = ensuci['NOM_CD'].apply(lambda x:x.title())
C:\Users\Arturo\AppData\Local\Temp\ipykernel_19600\3784782970.py:17: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  ensuci['NOM_ENT'] = ensuci['NOM_ENT'].replace(ef, abr)

   CD          NOM_CD NOM_ENT  BP3_2A  FAC_SEL
0   1  Aguascalientes     AGS       1     1916
1   1  Aguascalientes     AGS       2      958
2   1  Aguascalientes     AGS       1     1916
3   1  Aguascalientes     AGS       1     1916
4   1  Aguascalientes     AGS       2     3175

In [8]:
ensuci.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 23778 entries, 0 to 23777
Data columns (total 5 columns):
 #   Column   Non-Null Count  Dtype
---  ------   --------------  -----
 0   CD       23778 non-null  int64
 1   NOM_CD   23778 non-null  object
 2   NOM_ENT  23778 non-null  object
 3   BP3_2A   23778 non-null  int64
 4   FAC_SEL  23778 non-null  int64
dtypes: int64(3), object(2)
memory usage: 929.0+ KB

**Ciudades de Interés** <br>
Ciudades con mayor población (de 18 años o más) de acuerdo con dicho levantamiento.

In [4]:
#Ciudades con mayor población
#Población por Ciudad
ppc = ensuci.groupby(['CD','NOM_CD','NOM_ENT'])['FAC_SEL'].sum().reset_index()
ppc.rename(columns = {'FAC_SEL':'POB'}, inplace=True)
# Crear nombre de ciudad, entidad (NOM_CD_ENT)
ppc['NOM_CD_ENT'] = ppc['NOM_CD'] + ', ' + ppc['NOM_ENT']

#Las 20 Ciudades con mayor población
ciu=ppc[['CD','NOM_CD_ENT','POB']].sort_values(by='POB', ascending=False).head(20)
ciu.drop('POB', axis=1, inplace=True)
ciu

    CD                  NOM_CD_ENT
29  36                 Puebla, PUE
69  76            Iztapalapa, CDMX
21  27    Ecatepec De Morelos, MEX
52  59            Guadalajara, JAL
2    3                 Tijuana, BC
57  64               Monterrey, NL
15  20                   Leon, GTO
13  14         Ciudad Juarez, CHIH
67  74     Gustavo A. Madero, CDMX
22  28  Ciudad Nezahualcoyotl, MEX
56  63                Zapopan, JAL
20  26                 Toluca, MEX
45  52                 Merida, YUC
6    7         La Laguna, COAH-DGO
30  37              Queretaro, QRO
32  39        San Luis Potosi, SLP
81  88    Naucalpan De Juarez, MEX
31  38                Cancun, QROO
0    1         Aguascalientes, AGS
60  67               Guadalupe, NL

In [5]:
#Filtrar Ciudades de interés (para trabajar con base de 20 municipios con mayor población)
ensuci = ensuci[ensuci['CD'].isin(ciu['CD'])]
ensuci.drop(['NOM_CD', 'NOM_ENT'],axis=1,inplace=True)
ensuci.info()

<class 'pandas.core.frame.DataFrame'>
Int64Index: 5486 entries, 0 to 23229
Data columns (total 4 columns):
 #   Column   Non-Null Count  Dtype
---  ------   --------------  -----
 0   CD       5486 non-null   int64
 1   BP1_7_2  5486 non-null   int64
 2   BP1_8_2  5486 non-null   object
 3   FAC_SEL  5486 non-null   int64
dtypes: int64(3), object(1)
memory usage: 214.3+ KB

### Obtención de Porcentaje de Efectividad del Desempeño de Policías

Opciones de respuestas para pregunta *3.2a ¿Conoce o ha escuchado si el gobierno de (CIUDAD) ha implementado actividades o programas para prevenir la violencia y/o la delincuencia, tales como, policía de barrio, eventos deportivos, culturales, sociales, jornadas de reforestación, entre otros?* 
* 1 -> Sí
* 2 -> No
* 9 -> No sabe / no responde

#### Colapsar datos por municipio

In [12]:
#Población por Municipio
ppm = ensuci.groupby('CD')['FAC_SEL'].sum().reset_index()
ppm.rename(columns = {'FAC_SEL':'POB'}, inplace=True)

#Población que conoce que el gobierno ha implementado actividades o programas para prevenir la violencia y/o la delincuencia
# 1 -> Sí
pcg = ensuci[ensuci['BP3_2A']==1].groupby('CD').sum().reset_index()
pcg.rename(columns={'FAC_SEL':'CON_ACT'}, inplace=True)

#Unión de variables
union = ppm.merge(pcg, how='left', on='CD')

#Porcentaje de conocimiento de actividades del gobierno para prevenir la violencia
union['PCT_CON'] = union['CON_ACT']/union['POB']

#Variable de interés (porcentaje que conoce actividades) en Data Frame
var_df=union[['CD','PCT_CON']]

var_df.head()

C:\Users\Arturo\AppData\Local\Temp\ipykernel_19600\3289319972.py:7: FutureWarning: The default value of numeric_only in DataFrameGroupBy.sum is deprecated. In a future version, numeric_only will default to False. Either specify numeric_only or select only columns which should be valid for the function.
  pcg = ensuci[ensuci['BP3_2A']==1].groupby('CD').sum().reset_index()

   CD   PCT_CON
0   1  0.418534
1   2  0.360942
2   3  0.222109
3   4  0.340854
4   5  0.363537

### Unir Base de Conocimiento con Nombres de Ciudades

In [16]:
#Base de Conocimiento por Ciudades
con_act = ciu.merge(var_df, how='left', on='CD')
con_act

    CD                  NOM_CD_ENT   PCT_CON
0   36                 Puebla, PUE  0.425396
1   76            Iztapalapa, CDMX  0.688875
2   27    Ecatepec De Morelos, MEX  0.118325
3   59            Guadalajara, JAL  0.442815
4    3                 Tijuana, BC  0.222109
5   64               Monterrey, NL  0.357720
6   20                   Leon, GTO  0.382558
7   14         Ciudad Juarez, CHIH  0.252920
8   74     Gustavo A. Madero, CDMX  0.493485
9   28  Ciudad Nezahualcoyotl, MEX  0.379985
10  63                Zapopan, JAL  0.416791
11  26                 Toluca, MEX  0.266043
12  52                 Merida, YUC  0.489238
13   7         La Laguna, COAH-DGO  0.290374
14  37              Queretaro, QRO  0.417766
15  39        San Luis Potosi, SLP  0.362437
16  88    Naucalpan De Juarez, MEX  0.125229
17  38                Cancun, QROO  0.362354
18   1         Aguascalientes, AGS  0.418534
19  67               Guadalupe, NL  0.303475

#### Cifras Nacionales

In [17]:
# Porcentaje Nacional
nac_pob = ensu['FAC_SEL'].sum() #total población de la encuesta
nac_con = ensu[ensu['BP3_2A'] == 1]['FAC_SEL'].sum() #total población que conoce actividades
nac_con_pct = nac_con/nac_pob

con_act.loc[20] = [0, 'Nacional'] + [nac_con_pct]
con_act

    CD                  NOM_CD_ENT   PCT_CON
0   36                 Puebla, PUE  0.425396
1   76            Iztapalapa, CDMX  0.688875
2   27    Ecatepec De Morelos, MEX  0.118325
3   59            Guadalajara, JAL  0.442815
4    3                 Tijuana, BC  0.222109
5   64               Monterrey, NL  0.357720
6   20                   Leon, GTO  0.382558
7   14         Ciudad Juarez, CHIH  0.252920
8   74     Gustavo A. Madero, CDMX  0.493485
9   28  Ciudad Nezahualcoyotl, MEX  0.379985
10  63                Zapopan, JAL  0.416791
11  26                 Toluca, MEX  0.266043
12  52                 Merida, YUC  0.489238
13   7         La Laguna, COAH-DGO  0.290374
14  37              Queretaro, QRO  0.417766
15  39        San Luis Potosi, SLP  0.362437
16  88    Naucalpan De Juarez, MEX  0.125229
17  38                Cancun, QROO  0.362354
18   1         Aguascalientes, AGS  0.418534
19  67               Guadalupe, NL  0.303475
20   0                    Nacional  0.342689

In [18]:
#Organizar Tabla a Exportar a Excel
con_act = con_act.sort_values(by='PCT_CON')
con_act

    CD                  NOM_CD_ENT   PCT_CON
2   27    Ecatepec De Morelos, MEX  0.118325
16  88    Naucalpan De Juarez, MEX  0.125229
4    3                 Tijuana, BC  0.222109
7   14         Ciudad Juarez, CHIH  0.252920
11  26                 Toluca, MEX  0.266043
13   7         La Laguna, COAH-DGO  0.290374
19  67               Guadalupe, NL  0.303475
20   0                    Nacional  0.342689
5   64               Monterrey, NL  0.357720
17  38                Cancun, QROO  0.362354
15  39        San Luis Potosi, SLP  0.362437
9   28  Ciudad Nezahualcoyotl, MEX  0.379985
6   20                   Leon, GTO  0.382558
10  63                Zapopan, JAL  0.416791
14  37              Queretaro, QRO  0.417766
18   1         Aguascalientes, AGS  0.418534
0   36                 Puebla, PUE  0.425396
3   59            Guadalajara, JAL  0.442815
12  52                 Merida, YUC  0.489238
8   74     Gustavo A. Madero, CDMX  0.493485
1   76            Iztapalapa, CDMX  0.688875

#### Tabla 1: Porcentaje de la población de 18 años que mencionó conocer o haber escuchado que el gobierno de la ciudad ha implementado actividades o programas para prevenir la violencia y/o delincuencia de las 20 ciudades con más población

In [20]:
con_act.to_excel('Conocimiento Actividades Prevención Delincuencia V2.xlsx', index=False)