## Obtención de Percepción de Inseguridad en la Ciudad por Municipio V2

### Inicio

In [1]:
#Paquete necesario
import pandas as pd

#### Importar bases

**Percepción de Inseguridad en la ciudad** <br>
Fuente: *Encuesta Nacional de Seguridad Pública Urbana 2023 (I Trimestre).* Datos abiertos/2023/Encuesta Nacional de Seguridad Pública Urbana. Trimestre I<br>
Cuestionario principal de la encuesta sección I, II, III, IV (conjunto_de_datos_CB_ENSU_03_2023.csv) <br>
https://www.inegi.org.mx/programas/ensu/#Datos_abiertos <br>

Presentación Ejecutiva <br>
https://www.inegi.org.mx/contenidos/programas/ensu/doc/ensu2023_marzo_presentacion_ejecutiva.pdf

In [2]:
# Importar base de Cuestionario principal de la encuesta sección I, II, III, IV
ensu = pd.read_csv('conjunto_de_datos_CB_ENSU_03_2023.csv')
ensu.replace('\r','',inplace=True)
ensu['ID_PER NOM_ENT NOM_MUN NOM_CD TIPO_CUEST DOMINIO REG_CD'.split()] = ensu['ID_PER NOM_ENT NOM_MUN NOM_CD TIPO_CUEST DOMINIO REG_CD'.split()].apply(lambda x:x.str.replace('\r',''), axis=1)

#Convertir identificadores de Entidad y Municipio en Texto
ensu['CVE_ENT'] = ensu['CVE_ENT'].astype('str').apply(lambda x:x.zfill(2))
ensu['CVE_MUN'] = ensu['CVE_MUN'].astype('str').apply(lambda x:x.zfill(3))
ensu['ENT_MUN'] = ensu['CVE_ENT'] + ensu['CVE_MUN']
ensu.head()

,ID_VIV,ID_PER,UPM,VIV_SEL,R_SEL,CVE_ENT,NOM_ENT,CVE_MUN,NOM_MUN,LOC,...,BP4_1_2,BP4_1_3,FAC_VIV,FAC_SEL,DOMINIO,EST,UPM_DIS,EST_DIS,REG_CD,ENT_MUN
0,100071.006,0100071.006.01,100071,5,1,01,AGUASCALIENTES,001,AGUASCALIENTES,1,...,5,5,958,1916,U,2,1,142,,01001
1,100071.026,0100071.026.01,100071,1,1,01,AGUASCALIENTES,001,AGUASCALIENTES,1,...,6,5,958,958,U,2,1,142,,01001
2,100071.033,0100071.033.03,100071,2,3,01,AGUASCALIENTES,001,AGUASCALIENTES,1,...,0,0,958,1916,U,2,1,142,,01001
3,100071.115,0100071.115.01,100071,3,1,01,AGUASCALIENTES,001,AGUASCALIENTES,1,...,8,8,958,1916,U,2,1,142,,01001
4,100075.028,0100075.028.02,100075,4,2,01,AGUASCALIENTES,001,AGUASCALIENTES,1,...,7,7,1058,3175,U,3,2,143,,01001

### Seleccionar Datos de Interés
Para obtener percepción de inseguridad en la ciudad

In [3]:
#Datos para Percepción de seguridad en la ciudad (BP1_1)
#Factor de Expansión es FAC_SEL
datos = ensu[['CD','NOM_CD','NOM_ENT','BP1_1','FAC_SEL']]
datos['NOM_CD'] = datos['NOM_CD'].apply(lambda x:x.title())

#Abreviaturas de Entidades Federativas
ef_abr = {'AGUASCALIENTES':'AGS', 'BAJA CALIFORNIA':'BC', 'BAJA CALIFORNIA SUR':'BCS',
       'CAMPECHE':'CAMP', 'COAHUILA DE ZARAGOZA':'COAH', 'COLIMA':'COL', 'CHIAPAS':'CHIS',
       'CHIHUAHUA':'CHIH', 'CIUDAD DE MEXICO':'CDMX', 'DURANGO':'DGO', 'GUANAJUATO':'GTO',
       'GUERRERO':'GRO', 'HIDALGO':'HGO', 'JALISCO':'JAL', 'MEXICO':'MEX', 'MICHOACAN DE OCAMPO':'MICH',
       'MORELOS':'MOR', 'NAYARIT':'NAY', 'NUEVO LEON':'NL', 'OAXACA':'OAX', 'PUEBLA':'PUE',
       'QUERETARO':'QRO', 'QUINTANA ROO':'QROO', 'SAN LUIS POTOSI':'SLP', 'SINALOA':'SIN',
       'SONORA':'SON', 'TABASCO':'TAB', 'TAMAULIPAS':'TAMPS', 'TLAXCALA':'TLAX',
       'VERACRUZ DE IGNACIO DE LA LLAVE':'VER', 'YUCATAN':'YUC', 'ZACATECAS':'ZAC'}
for ef, abr in ef_abr.items():
    datos['NOM_ENT'] = datos['NOM_ENT'].replace(ef, abr)

datos.loc[datos['NOM_CD']=='La Laguna','NOM_ENT'] = 'COAH-DGO'
datos.loc[datos['NOM_CD']=='Tampico','NOM_ENT'] = 'TAMPS-VER'

datos.head()

C:\Users\Arturo\AppData\Local\Temp\ipykernel_19512\2672830526.py:4: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  datos['NOM_CD'] = datos['NOM_CD'].apply(lambda x:x.title())
C:\Users\Arturo\AppData\Local\Temp\ipykernel_19512\2672830526.py:16: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  datos['NOM_ENT'] = datos['NOM_ENT'].replace(ef, abr)

   CD          NOM_CD NOM_ENT  BP1_1  FAC_SEL
0   1  Aguascalientes     AGS      2     1916
1   1  Aguascalientes     AGS      1      958
2   1  Aguascalientes     AGS      1     1916
3   1  Aguascalientes     AGS      1     1916
4   1  Aguascalientes     AGS      1     3175

### Colapsar Datos por Ciudad

In [4]:
#Población por Ciudad
ppm = datos.groupby(['CD','NOM_CD','NOM_ENT'])['FAC_SEL'].sum().reset_index()
ppm.rename(columns = {'FAC_SEL':'POB'}, inplace=True)

#Población que se siente Segura
# Seguro -> 1
pse = datos[datos['BP1_1'] == 1]. groupby('CD')['FAC_SEL'].sum().reset_index()
pse.rename(columns = {'FAC_SEL':'SEGUROS'}, inplace=True)

#Población que se siente Insegura
# Inseguro -> 2
pin = datos[datos['BP1_1']==2].groupby('CD')['FAC_SEL'].sum().reset_index()
pin.rename(columns = {'FAC_SEL':'INSEGUROS'}, inplace=True)

#Población que No sabe
# No sabe/no responde -> 9
pns = datos[datos['BP1_1']==9].groupby('CD')['FAC_SEL'].sum().reset_index()
pns.rename(columns = {'FAC_SEL':'NO_SABE'},inplace=True)

#Merge Población, Seguros, Inseguros, No sabe
union = ppm.merge(pse, how='left', on='CD').merge(pin, how='left', on='CD').merge(pns, how='left', on='CD')
union['NO_SABE'].fillna(0,inplace=True)
union['NO_SABE'] = pd.to_numeric(union['NO_SABE'], downcast='integer')
union.head()

   CD          NOM_CD NOM_ENT      POB  SEGUROS  INSEGUROS  NO_SABE
0   1  Aguascalientes     AGS   669738   379807     289931        0
1   2        Mexicali      BC   647179   189275     450753     7151
2   3         Tijuana      BC  1272315   369048     903267        0
3   4          La Paz     BCS   221488   148374      73114        0
4   5        Campeche    CAMP   195276    72297     122979        0

In [5]:
# Crear nombre de ciudad, entidad (NOM_CD_ENT)
union['NOM_CD_ENT'] = union['NOM_CD'] + ', ' + union['NOM_ENT']
union=union[['CD', 'NOM_CD_ENT','POB', 'SEGUROS', 'INSEGUROS', 'NO_SABE']]

#Porcentaje que se siente inseguro
union['INS_PCT'] = union['INSEGUROS']/union['POB']

union.head()

   CD           NOM_CD_ENT      POB  SEGUROS  INSEGUROS  NO_SABE   INS_PCT
0   1  Aguascalientes, AGS   669738   379807     289931        0  0.432902
1   2         Mexicali, BC   647179   189275     450753     7151  0.696489
2   3          Tijuana, BC  1272315   369048     903267        0  0.709940
3   4          La Paz, BCS   221488   148374      73114        0  0.330104
4   5       Campeche, CAMP   195276    72297     122979        0  0.629770

### Top 20 Ciudades con más Población
(De 18 años y más)

In [6]:
#Ordenar Ciudades
union_top = union.sort_values(by='POB', ascending=False).head(20).reset_index()
union_top.drop('index', axis=1, inplace=True)

### Cifras Nacionales

In [7]:
# Inseguridad a nivel nacional
nac_pob = ensu['FAC_SEL'].sum() #total población de la encuesta
nac_seg = ensu[ensu['BP1_1']==1]['FAC_SEL'].sum()
nac_ins = ensu[ensu['BP1_1']==2]['FAC_SEL'].sum()
nac_ns = ensu[ensu['BP1_1']==9]['FAC_SEL'].sum()
nac_ins_pct = nac_ins/nac_pob

union_top.loc[20] = [0,'Nacional',nac_pob,nac_seg,nac_ins,nac_ns,nac_ins_pct]
union_top

,CD,NOM_CD_ENT,POB,SEGUROS,INSEGUROS,NO_SABE,INS_PCT
0,36,"Puebla, PUE",1656065,485101,1165416,5548,0.703726
1,76,"Iztapalapa, CDMX",1473632,435085,1038547,0,0.704753
2,27,"Ecatepec De Morelos, MEX",1446860,263075,1183785,0,0.818175
3,59,"Guadalajara, JAL",1405619,247093,1149088,9438,0.817496
4,3,"Tijuana, BC",1272315,369048,903267,0,0.709940
5,64,"Monterrey, NL",1178113,373419,804694,0,0.683036
6,20,"Leon, GTO",1149142,235511,913631,0,0.795055
7,14,"Ciudad Juarez, CHIH",1015824,283070,732754,0,0.721340
8,74,"Gustavo A. Madero, CDMX",1001424,388225,611451,1748,0.610582
9,28,"Ciudad Nezahualcoyotl, MEX",995857,340217,649914,5726,0.652618
10,63,"Zapopan, JAL",993578,421700,566692,5186,0.570355
11,26,"Toluca, MEX",993487,146792,844953,1742,0.850492
12,52,"Merida, YUC",911973,686080,221045,4848,0.242381
13,7,"La Laguna, COAH-DGO",838525,463924,374601,0,0.446738
14,37,"Queretaro, QRO",813464,431007,382457,0,0.470158
15,39,"San Luis Potosi, SLP",799822,180476,619346,0,0.774355
16,88,"Naucalpan De Juarez, MEX",723771,86895,636876,0,0.879941
17,38,"Cancun, QROO",705715,120045,585670,0,0.829896
18,1,"Aguascalientes, AGS",669738,379807,289931,0,0.432902
19,67,"Guadalupe, NL",663914,298540,365374,0,0.550333
20,0,Nacional,44426718,16744627,27567888,114203,0.620525

In [8]:
#Organizar Tabla a Exportar a Excel
ins_cd_top20=union_top[['CD','NOM_CD_ENT','INS_PCT']].sort_values(by='INS_PCT')
ins_cd_top20

    CD                  NOM_CD_ENT   INS_PCT
12  52                 Merida, YUC  0.242381
18   1         Aguascalientes, AGS  0.432902
13   7         La Laguna, COAH-DGO  0.446738
14  37              Queretaro, QRO  0.470158
19  67               Guadalupe, NL  0.550333
10  63                Zapopan, JAL  0.570355
8   74     Gustavo A. Madero, CDMX  0.610582
20   0                    Nacional  0.620525
9   28  Ciudad Nezahualcoyotl, MEX  0.652618
5   64               Monterrey, NL  0.683036
0   36                 Puebla, PUE  0.703726
1   76            Iztapalapa, CDMX  0.704753
4    3                 Tijuana, BC  0.709940
7   14         Ciudad Juarez, CHIH  0.721340
15  39        San Luis Potosi, SLP  0.774355
6   20                   Leon, GTO  0.795055
3   59            Guadalajara, JAL  0.817496
2   27    Ecatepec De Morelos, MEX  0.818175
17  38                Cancun, QROO  0.829896
11  26                 Toluca, MEX  0.850492
16  88    Naucalpan De Juarez, MEX  0.879941

#### Tabla 1: Porcentaje de la población de 18 años y más que se sintió insegura en su ciudad de las 20 ciudades con más población

In [9]:
#Exportar
ins_cd_top20.to_excel('Percepción de inseguridad en la ciudad V2.xlsx', index=False)

### Top 5 Ciudades con Más y Menos Percepción de Inseguridad
(De 18 años y más)

In [10]:
#Ordenar Ciudades (Más)
mas_ins_top5 = union[['CD','NOM_CD_ENT','INS_PCT']].sort_values(by='INS_PCT', ascending=False).head(5).reset_index()
mas_ins_top5.drop('index', axis=1, inplace=True)

mas_ins_top5

   CD                NOM_CD_ENT   INS_PCT
0  54            Fresnillo, ZAC  0.960256
1  53            Zacatecas, ZAC  0.942928
2  88  Naucalpan De Juarez, MEX  0.879941
3  94       Ciudad Obregon, SON  0.863767
4  30             Uruapan, MICH  0.861701

#### Tabla 2: Ciudades con mayor percepción de inseguridad en su ciudad, porcentaje de la población de 18 años

In [11]:
#Exportar
mas_ins_top5.to_excel('Top 5 ciudades con mayor percepción de inseguridad en su ciudad V2.xlsx', index=False)

In [12]:
#Ordenar Ciudades (Menos)
menos_ins_top5 = union[['CD','NOM_CD_ENT','INS_PCT']].sort_values(by='INS_PCT').head(5).reset_index()
menos_ins_top5.drop('index', axis=1, inplace=True)

menos_ins_top5

   CD                  NOM_CD_ENT   INS_PCT
0  65  San Pedro Garza Garcia, NL  0.183057
1  83         Benito Juarez, CDMX  0.194367
2   8        Piedras Negras, COAH  0.198608
3  55              Los Cabos, BCS  0.226800
4   6              Saltillo, COAH  0.238734

#### Tabla 3: Ciudades con menor percepción de inseguridad en su ciudad, porcentaje de la población de 18 años

In [13]:
#Exportar
menos_ins_top5.to_excel('Top 5 ciudades con menor percepción de inseguridad en su ciudad V2.xlsx', index=False)